:root {
    --border-color: rgb(255, 255, 255);
    --background-color: hsl(0, 0%, 100%);
    --direction: 1;
    --previous-direction: 1;
    --transition-time: 1s
}

#text {
    font-size: 10em;
    color: var(--border-color);
    margin: 0;
    scale: var(--direction) 1;
}

#text.wobble {
    animation: arrowWobble var(--transition-time) 1;
}

@keyframes arrowWobble {
    0% {
        scale: calc(var(--previous-direction)) 1;
    }
    25% {
        scale: var(--direction) 1;
        translate: 0;
    }
    45% {
        translate: calc(var(--direction) * 30px);
    }
    50% {
        translate: calc(var(--direction) * -30px);
    }
    70% {
        translate: calc(var(--direction) * 10px);
    }
    85% {
        translate: calc(var(--direction) * -5px);
    }
}

body {
    background-color: var(--background-color);
    margin: 0; height: 100%; overflow: hidden;
}

.secret, .secret:active, .secret:hover {
    background-color: var(--background-color);
    border-color: var(--background-color);
    color: var(--background-color);
    position : absolute; 
    width:100px; 
    height:100px;
    padding: 10px; 
    top:0; 
    left: calc(100% - 100px);
    overflow: hidden;
}

button {    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding: 10% 10%;
    
    font-size: 4em;
    border-radius: 1em;
    background-color: var(--background-color);

    
    border: 0.13em solid var(--border-color);
    color: var(--border-color);
}

button:hover  {
    background-color: var(--border-color);
    color: white;
}

.center {
    margin: auto;
    width: 70%;
    
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4em;

    text-align: center;
    border: 0.5em solid var(--border-color);
    border-radius: 4em;
}

.smooth {
    transition-duration: var(--transition-time);
    transition-property: background-color, border-color, color;
}